@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.kave{
    color: #1f5b25;
    border:1px solid #1f5b25;
    margin-bottom: 1rem;
    border-radius: 4px;
    background-color: white;
    
}
.kave h2{
    font-size: 1.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;/**/
    font-variant: small-caps;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.kave:hover{
    box-shadow: 0 0 5px #1f5b25;
    cursor:pointer;
}
h1{
    font-family: 'Fredericka the Great', cursive;
    color: #1f5b25;
    text-align: center;
}

body{
    background-color: #fbefdb;
    
}
nav img{
    width: 40px;
}
.navbar{
    background-color: #1f5b25;
}

.banner{
    background-image: url(../img/banner.jpg);
    height: 400px;
    background-size: cover;
    background-position:center center ;
}
footer{
    background-color: #1f5b25;
    color: white;
}
footer li{
    list-style-type: none;
}
footer li>img{
    width: 15px;
    margin-right: 10px;
}
#napiajanlat{
    position: absolute;
    width: 30px;
    right:20px;
    top:10px;
}